.signup {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.signupLeft,
.signupRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupLogo {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.signupDesc {
  font-size: 1.5rem;
}

.signupBox {
  height: 400px;
  padding: 1.25rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signupInput {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  font-size: 1.125rem;
  padding-left: 1.25rem;
}

.signupInput:focus {
  outline: none;
}

.signupInputError {
  font-size: 0.8rem;
  color: red;
}

.signupButton {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.signupButton:focus {
  outline: none;
}
.signupButton:disabled {
  cursor: not-allowed;
}

.signupForgot {
  text-align: center;
  color: var(--primary-color);
}

.signupLoginButton {
  width: 50%;
  align-self: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #10b981;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}
.signupLoginButton > a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

@media screen and (max-width: 480px) {
  .signupWrapper {
    width: 80%;
    height: 90%;
    flex-direction: column;
  }

  .signupLeft {
    flex: 1;
    justify-content: start;
  }

  .signupRight {
    flex: 4;
    padding-top: 2rem;
    justify-content: start;
  }

  .signupLoginButton {
    width: 80%;
  }
}
