.sidebar-nav {
  display: none;
  position: fixed;
  top: 5rem;
  width: 16%;
  height: 100vh;
  border-right: 1px solid #f0f0f0;
}

.links-container {
  padding: 1rem;
  padding-right: 0;
  list-style: none;
}

.links-container li {
  margin: 2rem 1rem;
}
.links-container li > svg {
  height: 2rem;
  width: 2rem;
}

.link-name {
  padding-left: 1rem;
  position: relative;
  bottom: 5px;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .sidebar-nav {
    display: block;
  }
}
