:root {
  --primary-color: rgb(40, 116, 240);
  --primary-dark: #1c51a8;
  --primary-light: #699ef5;
  --secondary-color: rgb(75, 85, 99);
  --light-color: rgb(249, 250, 251);
  --dark-color: rgb(17, 24, 39);
  --error-color: rgb(239, 68, 68);
  --success-color: rgb(16, 185, 129);
  --warning-color: rgb(253, 230, 138);
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
